@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


body {
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #d30000;
    height: 70px;
    display: flex;
    justify-content: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 42px;
    min-width: 980px;
    
}
nav div {
    display: flex;
    align-items: center;
}
nav span {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

i {
    color: #ffffff;
    margin-left: 5px;

}